@model FASM_EN.User.Users

<div id="Editstatus-area"></div>
@using (Html.BeginForm("EditUsers", "Accounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group row">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control",id = "EditFirstName" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "EditLastName" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "EditEmail" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "EditUserName" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", id = "EditPhoneNumber" })
        </div>
    </div>
    @Html.HiddenFor(m => m.Password, new { id = "EditPassword" })
    @Html.HiddenFor(m => m.UserId, new { id = "EditUserId" })
    @Html.HiddenFor(m => m.isLoad, new { @Value = "true"})
}
