@model FASM_EN.User.Users
@using FASM.GeneralObjects
@{
    ViewBag.Title = "IndexUsers";
    ViewBag.HeaderText = "Users";
}

@section Styles{

    @Styles.Render("~/plugin/sweetAlertStyles")
<style>
    .UserBtnSuccess:hover{
        text-decoration:none !important;
        padding:5px !important;
    }
    </style>

}
@section breadcrumb{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index",ControllerName.Accounts)">Home</a></li>
        <li class="breadcrumb-item">Manage User</li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
}
<div class="tile">
    @if (ViewBag.AllowAdd)
    {
        <a  class="btn btn-info btn-sm addBtns" href="@Url.Action("CreateUsers",ControllerName.Accounts)"><i class="fa fa-plus-circle fa-lg"></i>New User</a>
    }
    <table class="table table-sm table-striped table-bordered" id="myTable">

        <thead class="thead-dark">
            <tr>
                <th style="display:none">Id</th>
                <th>User name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th width="14%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow item in Model.dtUsers.Rows)
            {
                <tr>
                    <td style="display:none">@Html.DisplayTextFor(modelItem => item["UserId"])</td>
                    <td>@Html.DisplayTextFor(ModelItem => item["UserName"])</td>
                    <td>@Html.DisplayTextFor(ModelItem => item["FirstName"])</td>
                    <td>@Html.DisplayTextFor(ModelItem => item["LastName"])</td>
                    <td>@Html.DisplayTextFor(ModelItem => item["Email"])</td>
                    <td>@Html.DisplayTextFor(ModelItem => item["PhoneNumber"])</td>
                    <td>
                    @if (ViewBag.AllowEdit)
                    {
                        <a class="btn-success btn-xs UserBtnSuccess" type="submit" href="@Url.Action("EditUsers",ControllerName.Accounts,new { id = item["UserId"]})"><i class="fa fa-pencil-square-o"></i> Edit</a>
                    }
                    @if (ViewBag.AllowDelete)
                    {
                        <button type="button" UserIdentifier="@item["UserId"]" class="btn-danger btn-xs UserBtnDanger btnDelete"><i class="fa fa-trash-o"></i>  Delete</button>
                    }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    @Scripts.Render("~/DataTables/js")
    @Scripts.Render("~/plugin/sweetAlert")
    <script type="text/javascript">

        $(document).ready(function () {
            //clear the text field UserName
            function clearValues() {
                $("#UserName").val('');
            }

            //Cheking the validity of text fields
            function IsValidData() {
                if ($("#UserName").val() == "") {
                    return "Please fill in the User name";
                }
                return "";
            }

          
            //Clear text fields and reload the page
            $(".btnClose").click(function () {
                clearValues();
                location.reload();
            });


            //For Saving Purposes
            $("#SaveUser").click(function () {

                var ValidateMsg = IsValidData();
                if (ValidateMsg != "") {
                    ShowNotice('#status-area', ValidateMsg, "Failure");
                    return false;
                }

                var UserData = { UserName: $("#UserName").val() };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateUsers",ControllerName.Setups)',
                    data: UserData,
                    dataType: "json",
                    success: function (data) {
                        if (data.msg.toString() == "@FASM_GN.FASM_Msg.SuccessfulSaved") {
                            ShowNotice('#status-area', data.msg, "Success");
                        }
                        else {
                            ShowNotice('#status-area', data.msg, "Failure");
                        }
                        clearValues();
                    },
                    error: function () {
                        ShowNotice('#status-area', "Error occured!!", "Failure");
                        clearValues();
                    }
                });
            })
            $('#myTable').DataTable();

          
            //Delete Users
            $("button.btnDelete").click(function () {
                alert(1);
                var Id = $(this).attr("UserIdentifier");
                DeleteItem(Id);

            });

            function DeleteItem(Id) {
                DataObject = { UserId: Id };

                swal({
                    title: "Confirm Deletion",
                    text: "Are you sure that you want to delete this User?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonText: "Yes, delete it!",
                    confirmButtonColor: "#ec6c62"
                }, function () {
                    $.ajax({
                        url: '@Url.Action("DeleteUsers",ControllerName.Accounts)',
                        type: "POST",
                        data: DataObject,
                        dataType: "json",
                        success: function (data) {
                            swal("Deleted!", data, "success");
                            swal({ title: "Deleted!", text: data, type: "success" }, function () { location.reload(); });
                        },
                        error: function (data) {
                            swal("Oops", data, "error");
                        }
                    })

                });
            }
        });
    </script>
}




